.intro {
	position: relative;
	padding-top: 248px;
	background-color: $color-second;
	background-image: url('/img/speed-training/intro-bg.jpg');
  background-position: center center;
	background-size: cover;

	&:before {
		content: '';
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(to right, $color-second 11.19%, rgba(22, 72, 132, 0) 100%);
		opacity: 0.4;
		z-index: 1;
	}

	&__container {
		position: relative;
		z-index: 1;
	}

	&__form {
		position: relative;
		top: 15px;
		max-width: 427px;
	}

	&__video-container {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}

	&__video {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		-webkit-appearance: none;

		&::-webkit-media-controls-overlay-play-button,
		&::-webkit-media-controls {
			display: none;
		}
	}

	&__animation-container {
		position: relative;
		z-index: 1;
	}

	&__animation {
		position: absolute;
		right: -214px;
		bottom: -87px;
	}

  &__leaves {
    position: absolute;
    top: -200px;
    right: -54px;
  }

  &._october-special {
    background-image: url('/img/october-special/intro-bg.jpg');
    padding-top: 124px;

    &:before {
      display: none;
    }

    .intro {
      &__container {
        max-width: 1320px;
      }
    }
  }

	@include max-screen(1370px) {
		&__animation {
			right: -100px;
		}
	}

	@include mq-md {
    padding-top: 0;
    padding-bottom: 0;
    height: 400px;

		&__form {
      top: 250px;
			margin-left: auto;
			margin-right: auto;
		}

    &._october-special {
      background-position: center bottom;
      height: 400px;

      .intro {
        &__form {
          top: 210px;
        }
      }
    }
	}

	@include mq-sm {
		height: 240px;

		&__form {
			top: 150px;
			max-width: 380px;
		}

    &__leaves {
      width: 120px;
    }
	}
}
