<div class="s-footer">
  <div class="wrapper">
    <img class="s-footer__logo" src="/img/logo.png" alt="Foot-tech Academy" />
    <div class="s-footer__contacts">
        <div class="s-footer__contacts-phone">
          <div class="s-footer__contacts-title">Call Us</div>
          <a class="s-footer__contacts-link" href="tel:07732865677">07732865677</a>
        </div>
        <div class="s-footer__contacts-email">
          <div class="s-footer__contacts-title">Email Us</div>
          <a class="s-footer__contacts-link" href="mailto:foot-techacademy@outlook.com">foot-techacademy@outlook.com</a>
        </div>
    </div>
    <div class="s-footer__socials">
      <a href="#" class="s-footer__socials-item">
        <div class="s-footer__socials-logo">
          <img class="s-footer__socials-item-logo" src="/img/Facebook_icon_2013.png" alt="facebook" />
        </div>
        <div class="s-footer__socials-item-username">Foot-Tech Academy</div>
      </a>
      <a href="#" class="s-footer__socials-item">
        <div class="s-footer__socials-logo">
          <img class="s-footer__socials-item-logo" src="/img/instagram-new.png" alt="instagram" />
        </div>
        <div class="s-footer__socials-item-username">foottech_academy</div>
      </a>
      <a href="#" class="s-footer__socials-item">
        <div class="s-footer__socials-logo">
          <img class="s-footer__socials-item-logo" src="/img/twitter.png" alt="twitter" />
        </div>
        <div class="s-footer__socials-item-username">FootTechAcademy</div>
      </a>
    </div>
  </div>
</div>