.s-form {
  position: relative;
  background-color: #0A3161;
  &:before {
    position: absolute;
    display: block;
    content: '';
    border-top: 40px solid #fff;
    border-left: 100vw solid transparent;
    @media only screen and (max-width: 768px) {
      display: none;
    }
  }
  &__footballer {
    position: absolute;
    left: 60px;
    max-width: 256px;
    top: 0;
    transform: translateY(-20%);
    pointer-events: none;
    @media only screen and (max-width: 1336px) {
      display: none;
    }
  }
  &__left {
    max-width: 390px;
    flex-basis: 390px;
    text-align: center;
    @media only screen and (max-width: 768px) {
      max-width: 100%;
      flex-basis: 100%;
    }
  }
  &__right {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-left: 50px;
    text-align: center;
    padding-bottom: 60px;
    @media only screen and (max-width: 768px) {
      padding-left: 0;
    }
  }
  &__title {
    font-size: 28px;
    line-height: 41px;
    color: #fff;
    font-weight: 700;
  }
  &__subtitle {
    font-size: 22px;
    line-height: 41px;
    color: #fff;
    font-weight: 700;
    span {
      font-size: 28px;
    }
  }
  &__form {
    position: relative;
    display: flex;
    margin-left: 300px;
    padding: 50px 55px 30px 50px;
    border-radius: 5px;
    box-shadow: 5px 10px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #0A3161;
    transform: translateY(-20px);
    z-index: 1;
    @media only screen and (max-width: 1336px) {
      margin-left: 0;
    }
    @media only screen and (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }
    &-timer {
      margin-top: 20px;
    }
    &-title {
      font-weight: 400;
      font-size: 20px;
      line-height: 33px;
      text-transform: uppercase;
      color: #fff;
      letter-spacing: 1px;
      margin-bottom: 25px;
    }
    &-item {
      margin-bottom: 25px;
    }
    &-input {
      width: 100%;
      height: 36px;
      padding: 0 16px;
      font-size: 16px;
      color: #000;
      border-radius: 5px;
      background-color: #fff;
      box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.15);
      appearance: none;
    }
    &-submit {
      border-radius: 100px;
      background-color: #fff;
      height: 36px;
      width: 200px;
      margin: 0 auto;
      font-size: 16px;
      text-transform: uppercase;
      color: #000;
      margin-bottom: 60px;
    }
    &-timer {
      &-title {
        font-size: 16px;
        text-transform: uppercase;
        color: #fff;
        margin-bottom: 14px;
      }
      &-time {
        &-item {
          color: rgba(#fff, .7);
          font-size: 52px;
          font-weight: 700;
          margin: 0 20px;
          text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.15);
        }
      }
    }
  }
}
