@font-face {
	font-family: 'DIN';
	src: url('../../fonts/DIN-Medium.woff2') format('woff2'),
		url('../../fonts/DIN-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'D-DIN';
	src: url('../../fonts/D-DIN.woff2') format('woff2'), url('../../fonts/D-DIN.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'D-DIN Condensed';
	src: url('../../fonts/D-DINCondensed-Bold.woff2') format('woff2'),
		url('../../fonts/D-DINCondensed-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'D-DIN Exp';
	src: url('../../fonts/D-DINExp-Bold.woff2') format('woff2'),
		url('../../fonts/D-DINExp-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'D-DIN Exp';
	src: url('../../fonts/D-DINExp.woff2') format('woff2'), url('../../fonts/D-DINExp.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DIN';
	src: url('../../fonts/DIN-Light.woff2') format('woff2'),
		url('../../fonts/DIN-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}
