.form {
	position: relative;
	padding: 35px 43px 43px;
	border-radius: 5px;
	box-sizing: border-box;
	background-color: $color-second;
	z-index: 1;

	&:before,
	&:after {
		content: '';
		position: absolute;
		width: 100%;
		left: 0;
	}

	&:before {
		bottom: 44px;
		background: url('../img/speed-training/form-bg2.png') no-repeat center bottom;
		padding-bottom: 66.2763466042%;
		background-size: 100% 100%;
	}

	&:after {
		bottom: 0;
		background: url('../img/speed-training/form-bg1.png') no-repeat center bottom;
		padding-bottom: 61.3583138173%;
		background-size: 100% 100%;
	}

	&__title {
		@include font-din;
		position: relative;
		color: #fff;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 74px;
		z-index: 1;
		text-align: center;
		width: 266px;
		margin-right: 12px;
		padding-top: 22px;
		line-height: 1.2;
		letter-spacing: 0.05em;
	}

	&__inner {
		position: relative;
		z-index: 1;
	}

	&__input {
		display: block;
		width: 100%;
		margin-bottom: 25px;

		&:last-of-type {
			margin-bottom: 39px;
		}
	}

	&__submit {
		display: block;
		width: 200px;
		margin-left: auto;
		margin-right: auto;
		box-shadow: 5px 5px 4px rgba(#000, 0.15);
    background-color: #fff;
	}

	&._with-title {
		display: flex;
		padding: 41px 30px 41px 14px;
		box-shadow: 8px 8px 10px rgba(#000, 0.15);

		&:before {
			padding-bottom: 41.8%;
		}

		&:after {
			padding-bottom: 38%;
		}

		.form {
			&__inner {
				max-width: 316px;
				flex: 1;
			}

			&__input {
				height: 34px;
			}
		}
	}

	@include mq-lg {
		& {
			&__title {
				position: static;
				width: 100%;
				padding-top: 0;
				margin-right: 0;
				font-size: 40px;
				margin-bottom: 20px;
			}
		}

		&._with-title {
			display: block;
			padding: 20px 40px;
		}
	}

	@include mq-sm {
		&, &._with-title {
			padding: 30px 20px;
		}
	}
}
