@font-face {
  font-family: "D-DINExp";
  font-weight: 700;
  src: url("../fonts/D-DINExp-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "D-DINExp";
  font-weight: 400;
  src: url("../fonts/D-DINExp.woff2") format("woff2");
}

// @font-face {
//   font-family: "D-DIN";
//   font-weight: 700;
//   src: url("../fonts/D-DIN-Bold.woff2") format("woff2");
// }